<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Registro de Usuario</h2>
        
        <form class="form" action="http://localhost:3000/user" method="POST">
            <label class="form__label" for="name">Nombre:</label>
            <input type="text" class="form__input form__input--name" name="userName" placeholder="Escribe tu nombre" required >
        
            <label class="form__label" for="email">Correo Electrónico:</label>
            <input type="email" class="form__input form__input--email" name="userEmail" placeholder="Escribe tu email" required>
        
            <label class="form__label" for="address">Dirección:</label>
            <input type="text" class="form__input form__input--address" name="userAddress" placeholder="Escribe tu dirección">
        
            <label class="form__label" for="phone">Teléfono:</label>
            <input type="tel" class="form__input form__input--phone" name="userPhone" placeholder="Escribe tu teléfono" required>
        
            <button type="submit" class="form__button">Registrar</button>
        </form>       

        <!-- <h3>Usuarios Registrados</h3>
        <ul class="users-list"></ul> -->

    </div>   

    <script src="../js/register.js"></script>
</body>
</html>
